<div id="menu_left">
  <div id="button_left">
    <%#= link_to image_tag('/images/button.png'), {:controller=>'view', :action=>'places'}%>
    <%= link_to_remote( 'miejsca', :url=> {:controller=>'view', :action=>'place_graph'}, :loading=>"Element.show('load-indicator')", :loaded=>"Element.hide('load-indicator')")%>
  </div>
  <div id="button_left">
    <%#= link_to image_tag('/images/button.png'), {:controller=>'view', :action=>'places'}%>
    <%= link_to_remote( 'kategorie', :url=> {:controller=>'view', :action=>'category_graph'}, :loading=>"Element.show('load-indicator')", :loaded=>"Element.hide('load-indicator')")%>
  </div>
  <div id="button_left">
    <%#= link_to image_tag('/images/button.png'), {:controller=>'view', :action=>'places'}%>
    <%= link_to_remote( 'rachunki', :url=> {:controller=>'view', :action=>'bill_graph'}, :loading=>"Element.show('load-indicator')", :loaded=>"Element.hide('load-indicator')")%>
  </div>
</div>